<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body >

    
  <%- include('./partials/nav') %>

  <div class="jumbotron jumbotron-fluid" style="background-color: rgba(255, 196, 0, 0.123); margin-top: 40px;">
    <div class="container">
      <h1 class="zoom" style="text-align: center; font-weight: 800; text-transform: capitalize;"> &spades; View All available Notes &spades;</h1>
    </div>
    </div>
</div>

 

  <div class="jumbotron" style="padding: 70px; margin-top: 50px; background-color: white;" >
    <div class="row">
    <% if (notes.length > 0) { %>
      <% notes.forEach(pp => { %>
          <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="jumbotron zoom2" style="background-color: rgba(255, 174, 0, 0.829);">
              <div class="container-fluid">
                <h2 style="text-align: center; text-transform: capitalize; color: rgb(0, 0, 0); font-weight: 800;">
                  <%= pp.title %> 
                </h2>
                  <p style="text-align: right; color: rgb(0, 0, 0);"> - <%= pp.name %> </p>
                  <h6><%= pp.description1 %> </h6>
                  <br>
                  <h6><%= pp.description2 %> </h6>
                <br>
                <div>
                <a href="<%=pp.document_url%>"><button type="submit" class="btn btn-outline-dark" style="transition: 0.4s; margin-right:30px ; margin-left: 50px;" >View Pdf</button></a>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
        <% } else { %>
          <p style="text-align: center; font-weight: 800; "><span style="text-align:center">There are no Notes to display :( </span></p>
        <% } %>
    </div>
</div>



  <%- include('./partials/footer') %>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>